//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 12 09 02:06:17 2024

IO_LOC "PTS_ser_data_out" 32;
IO_PORT "PTS_ser_data_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "upper_byte_en" 69;
IO_PORT "upper_byte_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lower_byte_en" 68;
IO_PORT "lower_byte_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "out_en" 37;
IO_PORT "out_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "write_en" 57;
IO_PORT "write_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "chip_en" 38;
IO_PORT "chip_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "addr_to_MRAM[19]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[18]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[17]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[16]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[15]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[14]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[13]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[12]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[11]" IO_TYPE=LVCMOS33;
IO_PORT "addr_to_MRAM[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[9]" 31;
IO_PORT "addr_to_MRAM[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[8]" 49;
IO_PORT "addr_to_MRAM[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[7]" 48;
IO_PORT "addr_to_MRAM[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[6]" 70;
IO_PORT "addr_to_MRAM[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[5]" 71;
IO_PORT "addr_to_MRAM[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[4]" 72;
IO_PORT "addr_to_MRAM[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[3]" 73;
IO_PORT "addr_to_MRAM[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[2]" 74;
IO_PORT "addr_to_MRAM[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[1]" 75;
IO_PORT "addr_to_MRAM[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "addr_to_MRAM[0]" 76;
IO_PORT "addr_to_MRAM[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[15]" 36;
IO_PORT "data_to_MRAM[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[14]" 53;
IO_PORT "data_to_MRAM[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[13]" 51;
IO_PORT "data_to_MRAM[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[12]" 42;
IO_PORT "data_to_MRAM[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[11]" 41;
IO_PORT "data_to_MRAM[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[10]" 35;
IO_PORT "data_to_MRAM[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[9]" 40;
IO_PORT "data_to_MRAM[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[8]" 34;
IO_PORT "data_to_MRAM[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[7]" 33;
IO_PORT "data_to_MRAM[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[6]" 30;
IO_PORT "data_to_MRAM[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[5]" 29;
IO_PORT "data_to_MRAM[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[4]" 28;
IO_PORT "data_to_MRAM[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[3]" 27;
IO_PORT "data_to_MRAM[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[2]" 26;
IO_PORT "data_to_MRAM[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[1]" 25;
IO_PORT "data_to_MRAM[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_to_MRAM[0]" 39;
IO_PORT "data_to_MRAM[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "read_write_sel[2]" 77;
IO_PORT "read_write_sel[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "read_write_sel[1]" 79;
IO_PORT "read_write_sel[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "read_write_sel[0]" 80;
IO_PORT "read_write_sel[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in" 81;
IO_PORT "data_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_in" 82;
IO_PORT "addr_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "burst_len_in" 83;
IO_PORT "burst_len_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "mode_sel" 84;
IO_PORT "mode_sel" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "burst_en" 85;
IO_PORT "burst_en" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rst" 86;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" 63;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
